scripts/
working_codes/
.venv
__pycache__/
adni.csv 
id_dx.json 
ADNIMERGE.csv
updatepkg.sh
README_old.md
experimental/
test_highdim/
train_highdim/
train/
test/
test_transfer/
.env 
discuss.md 
old_results/
config2.yaml 
deprecated/
